node_modules
src/
#Hardhat files
cache
artifacts

#VSCode files
.vscode

#dotenv
.env

#docgen
docs

node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

#shell command
shell/

#crontab tasks
task/

#events listener
events-gotchi/
